<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>시나몬</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/members">회원 목록</a>
        </p>
        <p class="lead">게시판 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/posts/new">글 작성</a>
            <a class="btn btn-lg btn-dark" href="/posts">글 목록</a>
            <br> <br>
            <a class="btn btn-lg btn-dark" href="/posts/map">지도</a>
        </p>
        <p class="lead">채팅 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/chatting">채팅 (임시)</a>
            <a class="btn btn-lg btn-info" href="/order">채팅 목록</a>
            <a class="btn btn-lg btn-info" href="/orders">약속확정 목록</a>
        </p>
        <p>
            <a class="btn btn-lg btn-info" href="https://kauth.kakao.com/oauth/authorize?client_id=5a839021b9022410f2f0a040060fc1dc&redirect_uri=http://113.198.137.188:81/api/members/kakaologin&response_type=code">카카오 로그인</a>
            <a class="btn btn-lg btn-info" href="/members/logout">로그아웃</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>